<div class="modal fade" id="filter_staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="filter_staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
        <h5 class="modal-title" id="modal-client-name">FILTRAR CLIENTES</h5>
        </div>

        <div class="modal-body">
            <div class="card-body">
                <div class="form-group row-md-12">
                    <select class="form-control custom-select col-md-12" id="filtro_dia">
                        <option value="today" selected>Clientes de hoje</option>
                        <option value="time_interval">Escolher intervalo de tempo</option>
                        <option value="all_period">Todos os clientes</option>
                    </select>
                </div>
                <div class="input-group row-md-12" id ="data-intervalo">
                    <div class="input-group col-md-6">
                        <input type="text" class="form-control" name="datepicker-autoclose-start" id="datepicker-autoclose-start" placeholder="Escolha a data de início">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="input-group col-md-6">
                        <input type="text" class="form-control" name="datepicker-autoclose-finish" id="datepicker-autoclose-finish" placeholder="Escolha a data de fim">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" id="filtro_seller_body">
                <div class="form-group row-md-12">
                    <select class="form-control custom-select col-md-12" id="filtro_seller">
                        <option></option>
                        <option value="all" selected>Todas as vendedoras</option>
                        <option value="pinch_seller">Selecionar Vendedoras</option>

                    </select>
                </div>
                <div class="input-group row-md-12" id ="pinch_seller_div">
                </div>

            </div>
            <div class="card-body">
                <div class="form-group row-md-12">
                    <select class="form-control custom-select col-md-12" id="filtro_status">
                        <option value="all" selected>Todos os status</option>
                        <option value="specific_status">Selecionar status</option>

                    </select>
                </div>
                <div class="input-group row-md-12" id ="pinch_status_div">

                </div>
            </div>
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onClick="$('#filter_staticBackdrop').modal('hide');" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" onClick="updateFilter();">Confirmar</button>
        </div>
    </div>
    </div>
</div>
<script>
    var DuplicatedFromModelClientStatus = {
        IMPORTADO_PLANILHA  : { code: "IP", name: "IMPORTADO DA PLANILHA"},
        RECEM_CADASTRADO    : { code: "RC", name: "RECÉM CADASTRADO"},
        AUDITORIA           : {name: "EM AUDITORIA", code: "EA"},
        COBRANCA            : {name: "EM COBRANCA", code: "EC"},
        COBRANCA_RETORNO    : {name: "RETORNADO PELA COBRANÇA", code: "RPC"},
        AUDITORIA_RETORNO   : {name: "RETORNADO PELA AUDITORIA", code: "RPA"},
        COBRANCA_SUCESSO    : {name: "COBRADO COM SUCESSO", code: "CS"},
        COBRANCA_FALHA      : {name: "FALHA NA COBRANÇA", code: "CF"},
        CORRIGIDO_VENDA     : {name: "CORREÇÃO EFETUADA", code: "CE"}

    };
    const AllStatus = [
        DuplicatedFromModelClientStatus.IMPORTADO_PLANILHA,
        DuplicatedFromModelClientStatus.RECEM_CADASTRADO,
        DuplicatedFromModelClientStatus.AUDITORIA,
        DuplicatedFromModelClientStatus.COBRANCA,
        DuplicatedFromModelClientStatus.COBRANCA_RETORNO,
        DuplicatedFromModelClientStatus.AUDITORIA_RETORNO,
        DuplicatedFromModelClientStatus.COBRANCA_SUCESSO,
        DuplicatedFromModelClientStatus.COBRANCA_FALHA,
        DuplicatedFromModelClientStatus.CORRIGIDO_VENDA
    ]

    var options = ''
    AllStatus.forEach((ClientStatus) => {
        options += '<div class="form-check form-check-inline">'
        options += '<input class="form-check-input" type="checkbox" name="checkbox_status" id="checkbox_'+ClientStatus.code+'" value="'+ClientStatus.code+'">';
        options += '<label class="form-check-label" for="checkbox_'+ClientStatus.code+'">'+ClientStatus.name+'</label>';
        options += '</div>'
    })
    $("#pinch_status_div").html(options);

    $("#filtro_seller_body").hide();

    $("#data-intervalo").hide();
    $("#pinch_seller_div").hide();
    $("#pinch_status_div").hide();

    $(document).ready(function(){ //
        $('#filtro_dia').on('change', function() {
            if ( this.value == 'time_interval') {
                $("#data-intervalo").show();
            }
            else {
                $("#data-intervalo").hide();
            }
        });

        $('#filtro_seller').on('change', function() {
            if ( this.value == 'pinch_seller'){
                $("#pinch_seller_div").show();
            }
            else {
                $("#checkbox").prop("checked", false);
                $("#pinch_seller_div").hide();
            }
        });

        $('#filtro_status').on('change', function() {
            if ( this.value == 'specific_status'){
                $("#pinch_status_div").show();
            }
            else {
                $("#pinch_status_div").hide();
            }
        });
    });

    jQuery('#datepicker-autoclose-start').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });

    jQuery('#datepicker-autoclose-finish').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });
</script>