<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="modal_client_name">Carregando...</h5>
            <span hidden name="key-cpf"></span>
            <h5 class="modal-title" id="modal_client_cpf"></h5>
        </div>
        <span id="badge_base__antiga" class="badge badge-primary">BASE ANTIGA</span>

        <span id="badge_aguardando_auditoria" class="badge badge-info">RECÉM CADASTRADO</span>
        <span id="badge_corrigido_venda" class="badge badge-info">CORRIGIDO PELA VENDA</span>
        <span id="badge_em_auditoria" class="badge badge-info">EM AUDITORIA</span>
        <span id="badge_aguardando_cobranca" class="badge badge-info">EM COBRANÇA</span>

        <span id="badge_retornado_auditoria" class="badge badge-warning">RETORNADO PELA AUDITORIA</span>
        <span id="badge_retornado_cobranca" class="badge badge-warning">RETORNADO PELA COBRANÇA</span>

        <span id="badge_cliente_sucesso" class="badge badge-success">CLIENTE COBRADO COM SUCESSO</span>
        <span id="badge_cliente_invalidado" class="badge badge-danger">CLIENTE INVALIDADO</span>
        <span id="badge_status_invalido" class="badge badge-danger">STATUS NÃO MAPEADO</span>

        <div class="modal-body">
            <div class="card-body">
                <h5 class="card-title">Dados pessoais</h5>

                <div class="form-group row-md-12">
                    <label for="lnome" class="col-md-12 control-label col-form-label ">Nome do cliente</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control verificado_status" id="lnome" name="lnome" placeholder="">
                    </div>
                </div>

                <div class="form-row row-md-12">
                    <div class="form-group col-md-3">
                        <label for="lsexo" class="col-md-12 control-label col-form-label ">Sexo</label>
                        <div class="col-sm-12">
                            <select class="form-control custom-select col-sm-12 verificado_status" name="lsexo" id="lsexo" oninvalid="this.setCustomValidity('Por favor, preencha este campo')" oninput="setCustomValidity('')" placeholder="" required>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="ltelefone" class="col-md-12 control-label col-form-label ">Telefone</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="ltelefone" name="ltelefone">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="ltelefone" class="col-md-12 control-label col-form-label ">Data de Nascimento do segurado</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control date-inputmask verificado_status" name="ldatanascimento" id="ldatanascimento">
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title">Dados do endereço</h5>

                <div class="form-row row-md-12">
                    <div class="form-group col-md-10">
                        <label for="lendereco" class="col-sm-12 control-label col-form-label">Endereço</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="lendereco" name="lendereco">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="lenderecoNumero" class="col-sm-12 control-label col-form-label">Número</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="lenderecoNumero" name="lenderecoNumero">
                        </div>
                    </div>
                </div>

                <div class="form-row row-md-12">
                    <div class="form-group col-md-3">
                        <label for="lenderecoCEP" class="col-sm-12 control-label col-form-label">CEP</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="lenderecoCEP" name="lenderecoCEP">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lenderecoBairro" class="col-md-12 control-label col-form-label ">Bairro</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="lenderecoBairro" name="lenderecoBairro">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lenderecoCidade" class="col-md-12 control-label col-form-label ">Cidade</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="lenderecoCidade" name="lenderecoCidade">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lenderecoEstado" class="col-sm-12 control-label col-form-label">Estado</label>
                        <!-- <div class="col-sm-12">
                            <input type="text" class="form-control" name="lenderecoEstado">
                        </div> -->
                        <select class=" form-control custom-select col-sm-12 verificado_status" id="lenderecoEstado" oninvalid="this.setCustomValidity('Por favor, preencha este campo')" oninput="setCustomValidity('')" placeholder="" required>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row-md-12">
                    <label for="lenderecoComplemento" class="col-md-12 control-label col-form-label">Complemento</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control verificado_status" id="lenderecoComplemento" name="lenderecoComplemento" placeholder="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title">Dados da venda</h5>

                <!-- <div class="form-row row-md-12">

                    <div class="form-group col-md-3">
                        <label for="ldatavenda" class="col-md-12 control-label col-form-label ">Data da venda</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control date-inputmask" name="ldatavenda">
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="lcomissao" class="col-md-12 control-label col-form-label ">Comissão</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="lcomissao">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lpagamentoSituacao" class="col-sm-12 control-label col-form-label">Situação do pagamento</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="lpagamentoSituacao">
                        </div>
                    </div>
                </div> -->

                <div class="form-group row-md-12">
                    <label for="lnomecartao" class="col-md-12 control-label col-form-label">Nome no cartão</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control verificado_status" id="lnomecartao" name="lnomecartao" placeholder="">
                    </div>
                </div>

                <div class="form-row row-md-12">
                    <div class="form-group col-md-3">
                        <label for="lnumerocartao" class="col-sm-12 control-label col-form-label">Número do cartão</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="lnumerocartao" name="lnumerocartao">
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="ltelefone" class="col-md-12 control-label col-form-label ">Vencimento</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" id="lvencimentoCartao" name="lvencimentoCartao">
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="lbandeiraCartao" class="col-md-12 control-label col-form-label ">Bandeira</label>
                        <div class="col-sm-12">
                            <select class="form-control custom-select col-md-12 verificado_status" id="lbandeiraCartao" oninvalid="this.setCustomValidity('Por favor, preencha este campo')" oninput="setCustomValidity('')" placeholder="" required>
                                <option value="mastercard">MASTERCARD</option>
                                <option value="hipercard">HIPERCARD</option>
                                <option value="visa">VISA</option>
                                <option value="elo">ELO</option>
                                <option value="nenhuma">Nenhuma das anteriores (especificar na observação)</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="lvalorPlano" class="col-md-12 control-label col-form-label ">Valor do plano</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" onKeyPress="return(moeda(this,'.',',',event))" id="lvalorPlano" name="lvalorPlano">
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="lvalorMensal" class="col-md-12 control-label col-form-label ">Valor mensal</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control verificado_status" onKeyPress="return(moeda(this,'.',',',event))" id="lvalorMensal" name="lvalorMensal">
                        </div>
                    </div>

                </div>

                <div class="form-group row-md-12">
                    <label for="taObsVenda" class="col-md-12 control-label col-form-label">Observações venda</label>
                    <div class="col-md-12">
                        <textarea class="form-control verificado_status" id="taObsVenda" name="taObsVenda" ></textarea>
                    </div>
                </div>

                <div class="form-group row-md-12">
                    <label for="taObsAuditoria" class="col-md-12 control-label col-form-label">Observações auditoria</label>
                    <div class="col-md-12">
                        <textarea class="form-control" name="taObsAuditoria" disabled></textarea>
                    </div>
                </div>

                <div class="form-group row-md-12">
                    <label for="taObsCobranca" class="col-md-12 control-label col-form-label">Observações cobrança</label>
                    <div class="col-md-12">
                        <textarea class="form-control" name="taObsCobranca" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success verificado_status" id="confirmButton" onClick="saveClient()">Confirmar</button>
            <button type="button" class="btn btn-secondary" onClick="$('#staticBackdrop').modal('hide');" data-bs-dismiss="modal">Fechar</button>
        </div>
        </div>
    </div>
    </div>

